<!DOCTYPE html>
<html lang="en">

    <body>
    <!-- footer -->
    <footer>
        <!-- social media -->
        <div class="social-media pt-1">
            <h4 class="footer-h4">Follow us on</h4>
            <div class="card-container">
                <div class="pr-1">
                    <a href="" target="" >
                        <img src="/img/index/fb.png" alt="facebook" class="img"/>
                    </a>
                </div>
                <div class="pr-1">
                    <a href="" target="" >
                        <img src="/img/index/instagram.png" alt="instagram" class="img"/>
                    </a>
                </div>
                <div class="pr-1">
                    <a href="" target="">
                        <img src="/img/index/twitter.png" alt="twitter" class="img"/>
                    </a>
                </div>
            </div>
        </div>
        <!-- footer nav -->
        <nav class="menu-large">
            <a href="/" class="">Home</a>
            <a href="/about_us" class=" ">About </a>
            <a href="/products" class=" ">Products</a>
            <a href="/contact_us" class=" ">Contact Us</a>
        </nav>
        <nav class="nav-footer">
            <a href="/faq" class="">FAQ</a>
            <a href="/cookie_policy" class="">Cookies Policy</a>
        </nav>
        <!-- credits -->
        <div class="credits">
            <p class="pt-1">® 2020 Cakes O'clock Shop. All rights are reserved.</p>
        </div> 
    </footer>
    <!-- footer -->
    <!-- js scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src= "/js/script-mobile-nav.js"></script>
        <script src= "/js/script-home.js"></script>
        <script src= "/js/script-products.js"></script>
        <script src= "/js/script-contact.js"></script>
        <script src= "/js/script-faq.js"></script>
        <script src= "/js/script-cart.js"></script>
        <script src= "/js/script-users.js"></script>
    <!-- js scripts -->
    </body>

</html>
