
<%- include layouts/header.ejs %>
<!-- main content -->
<main class="">
<!-- about us large & medium devices-->
    <h1 class = "title"> Cakes O'clock </h1>  
    <section class ="content">       
        <div class ="column1">
            <img src="img/about_us/aboutus.jpg" alt="about us photo" class="img-about"> 
        </div>
        <div class = "column2">          
            <p class = "about-us-text"> The bakery ‘Cakes O’clock’ produces daily handmade cakes for every taste.
            We know everyone loves a bit of sweetness and we make sure we provide fresh cakes to our customers.
            We get products directly from local farmers – we want to try to transform the way people eat and provide not only great quality deserts but also healthy. <br>
            <br>We’ll bake and store safely your cake for collection at a time that suits you.
            You can pick it up on the way back from work after you come back from the gym or on your way to your friend's house.
            Click&amp;Collect service is free – all you pay is for the cakes. Plus, there is no minimum spend required. <br>
            <br>Checkout out our webapp and order now your dessert from your local ‘Cake O’clock’ shop !
            </p>
        </div>        
    </section>
</main>
<!-- main content -->
<%- include layouts/footer.ejs %>

