<%- include layouts/header.ejs %>
<h1>Add New Product</h1>

<div class="page-data">
            
    <form method="post" action="/customers/add">
        <table cellpadding="11">
        <tr>
            <td class="label">Name</td><td><input type="text" name="name" required></td>
         </tr>
         <tr>
            <td class="label" valign="top">Description</td><td valign="top"><textarea name="address" required cols="30" rows="5"></textarea></td>
        </tr>
        <tr>
            <td class="label">Allergen</td><td><input type="text" name="email" required></td>
         </tr>
          <tr>
            <td class="label">Category ID</td><td><input type="text" name="phone" required></td>
         </tr>
         <tr>
            <td class="label">Image Url</td><td><input type="text" name="phone" required></td>
         </tr>
 
         <tr>
            <td class="label"></td>
            <td>
                &nbsp; <input  class="btn-secondary" type="submit" name="submit" value="Save">
               <a href="/adminproducts" target="" class="btn-secondary" role="button" aria-pressed="true">
                Cancel
            </a>
            </td>
         </tr>
        </table>
    </form>
    
</div>

<%- include layouts/footer.ejs %>