<%- include layouts/header.ejs %>

<title>Please submit payment details </title>
</head>
<body>
  
  <form action="/pay" method="post">
    <input type="submit" value="Buy">
  </form>
</body>

<%- include layouts/footer.ejs %>