<%- include layouts/header.ejs %>
<!-- main content -->
<main class="content-faq">
    <!-- page title -->
    <h1 class="bottom-dotted text-center pt-1">Cookies Policy</h1>
    <!-- page content -->
    <section class="padding-1">
        <h2 class="text-left"> Cookies</h2>
        <p class="text-justify">
            Our website uses cookies to distinguish you from other users of our website. This helps us to provide you with a good experience when you browse our website and also allows us to improve our site. By continuing to browse our website, you are agreeing to our use of cookies.
            <br>
            A cookie is a small file of letters and numbers that we store on your browser or the hard drive of your computer if you agree. Cookies contain information that is transferred to your computer’s hard drive.
        </p>
        <h2 class="text-left"> We use the following cookies:</h2>
        <h3 class="text-left"> Strictly necessary cookies:</h3>
        <p class="text-justify">
            These are cookies that are required for the operation of our website. 
        </p>
        <h3 class="text-left"> Analytical/performance cookies:</h3>
        <p class="text-justify">
            This helps us to improve the way our website works, for example, by ensuring that users are finding what they are looking for easily. 
        </p>
        <h3 class="text-left"> Functionality cookies: </h3>
        <p class="text-justify">
            These are used to recognise you when you return to our website. This enables us to personalise our content for you, greet you by name and remember your preferences (for example, your choice of language or region). 
        </p>
        <h3 class="text-left"> Targeting cookies:  </h3>
        <p class="text-justify">
            These cookies record your visit to our website, the pages you have visited and the links you have followed. We will use this information to make our website and the advertising displayed on it more relevant to your interests. We may also share this information with third parties for this purpose.

            <br>
            Please note that third parties (including, for example, advertising networks and providers of external services like web traffic analysis services) may also use cookies, over which we have no control. These cookies are likely to be analytical/performance cookies or targeting cookies] 
        </p>
        <p class="text-justify">
            You block cookies by activating the setting on your browser that allows you to refuse the setting of all or some cookies. However, if you use your browser settings to block all cookies (including essential cookies) you may not be able to access all or parts of our site.
        </p>
        <p class="text-justify">
            Except for essential cookies, all cookies will expire after you close your browser.
        </p>
        <p class="text-right">
            <em> * Text taken from <a href="https://thundersbakery.ie/cookie-policy/" target="_blank">thunders bakery cookie policy</a>
            </em>
        </p>
    </section>
    <!-- page content -->
</main>
<!-- main content -->
<%- include layouts/footer.ejs %>