<%- include layouts/header.ejs %>
<!-- main content -->
<main class="content-faq">
    <h2>Frequently Asked Questions</h2>
    <p>Please click on the questions to open the content.</p>
  
    <button class="accordion">Can I order a cake with a personalised picture ? </button>
    <div class="panel">
      <p class=faq> Pictures can go on our all cakes. They do not like the cold so we recommend that if you wish to order a fresh cream cake with a picture that you cut the cake on the same day as collection.</p>
    </div>

    <button class="accordion">How long does the cake last ? </button>
    <div class="panel">
        <p class=faq>It depends on what you order.<br>

        Berry Cake: +1 day from purchase if you put it straight into the fridge <br>
        ChocolateCake: +2 days from purchase if you keep it in the box and don’t put it in the fridge (unless of course, it’s 30 degrees outside, then you need to treat it like berry cake)<br>
        Almond brownies: 3 months if you remove all decoration other than chocolate and wrap well in the fridge<br>
        Cookies: 6 months if you remove all decoration and wrap in a sheet of greaseproof paper, tin foil and place in an airtight tin/tub

        </p>
    </div>

    <button class="accordion">Where are you based ? </button>
    <div class="panel">
        <p class=faq>123 North St. East Wall Dublin</p>
     </div>

    <button class="accordion">What are your opening hours? </button>
    <div class="panel">
        <p class=faq> Our bakeries are open from 9 AM to 20:00 PM.</p>
    </div>

    <button class="accordion"> Are your products vegan ? </button>
    <div class="panel">
        <p class=faq>At Cakes O'clock we do our best to satisfy all tastes. We do have a few vegan cakes and also you can put in a special order for vegan cake if you wish.</p>
     </div>

    <button class="accordion"> How much notice do you need for a cake order ? </button>
    <div class="panel">
        <p class=faq>The majority of our cakes can be baked overnight. However, there are some cakes for which we need 2 – 3 days’ notice such as our novelty cakes or bespoke cakes. We can find a solution for any cake emergency though if you’ve left it too late. Just give us a call and we’ll do our best.</p>  
    </div>
</main>
<!-- main content -->
<%- include layouts/footer.ejs %>