<%- include layouts/header.ejs %>
<!-- main content -->
<main class="content-faq">
    
    <h1 class="bottom-dotted text-center pt-1"> Hi User </h1>
   
    <!-- Login btn -->
    <a href="/" class="btn-secondary" role="button" aria-pressed="true">
        LOGOUT
    </a>
   
           
    
</main>
<!-- main content -->
<%- include layouts/footer.ejs %>