<%- include layouts/header2.ejs %>
<!-- main content -->
<main class="content-faq">
    <h1 class="bottom-dotted text-center pt-1">Hi <%= name %></h1> 
    <section class="content-user">
        <button id="" class="headbutton1 mr-1" type="button" onclick="location.href='/users'">
            Manage my Account
        </button>

    </section>

</main>
<!-- main content -->
<%- include layouts/footer.ejs %>