<%- include layouts/header.ejs %>
<!-- main content -->
<main class="content-faq">
    <h1 class="bottom-dotted text-center pt-1">User Profile</h1>
    <h2> Hi <%= name %> </h2>
    <a class=" " href="/logout">
        Logout 
    </a>
                       
    <section class="accordion-user">
        <button class="accordion-title">
            <h2> Manage my account </h2>
        </button>
        <div class="accordion-body">

        </div>
    </section>

</main>
<!-- main content -->
<%- include layouts/footer.ejs %>