<%- include layouts/header.ejs %>
<!-- main content -->
<main class="">
    <h1 class="tex-center"> Create an Account </h1>
    <p class="text-center" >Already have an account? 
        <a href="/login" class="login"> Log in</a>
    </p>
    <section class="container margin">
        <div class="form-card">
            <p class="text-center"> Please enter your details </p>
            <form>

                <div class="padding-1">
                    <label>First Name</label>
                    <input type= "text" name ="First Name" placeholder="First Name" class ="form-inputs"/>
                </div>
                <div class="padding-1">
                    <label>Last Name</label>
                    <input type= "text" name ="Last Name" placeholder="Last Name" class ="form-inputs"/>
                </div>
                <div class="padding-1">
                    <label>Email</label>
                    <input type= "email" name ="Email" placeholder="Email" class ="form-inputs"/>
                </div>
                <div class="padding-1">
                    <label>Phone</label>
                    <input type= "text" name ="Address" placeholder="Address" class ="form-inputs"/>
                </div>
                <div class="padding-1">
                    
                    
                </div>
 
            </form>
        </div>
    </section>
</main>
<!-- main content -->
<%- include layouts/footer.ejs %>