
/*=  ITEMS - CONTENT| LARGE/DESKTOP
--------------------------------------------------------*/
/* Tab Style 
--------------------------------------------------------*/
.container.margin{
    padding: 40px;
}
    
/*Item View Image*/
.product-img{
    background-color: darkcyan;
}
.product-img img{
    width: 500px;
    height: 300px;
}
/*Item Details*/
.product-details-card{
    padding-bottom: 25px;
}
.product-info{
    padding: 0 35px 0 35px;
}

/*Flex-container for radio btns and Qty*/
    
/*SIZES*/
.sizes-units{
    width: 250px;
    background-color: greenyellow;
}
label .ml-1{
    width: 150px;
}
/*QUANTITY*/
button[class*=minus-btn]{
    width: 30px;
    height: 30px;
    background-color: brown;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
button[class*=plus-btn]{
    width: 30px;
    height: 30px;
    background-color: brown;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
    
/*Price*/
.box-price{
    padding-left: 35px;
}
    
.items-btn{
    padding-left: 35px;
}    



/*=  PRODUCTS - CONTENT | MEDIUM/TABLETS
--------------------------------------------------------

@media (min-width: 768px) and (max-width: 991px) {




 }
--------------------------------------------------------*/

/*=  PRODUCTS - CONTENT | SMALL/MOBILE
--------------------------------------------------------*/

@media screen and (max-width: 1023px) {
    /* Tab Style for small size devices
    --------------------------------------------------------*/
