/*=  CONTACT US - CONTENT| LARGE/DESKTOP
--------------------------------------------------------*/
html,
body {
  font-family: 'Raleway', sans-serif;
  color: #000000;
  background-color: #F1EFEF;
  display: block;
}
.title-contactus {text-align: center;margin-right: 100px;}

.content {
  display: inline-block;
  background-color: #fff;
  }

.map{ width: 40%; /* Set the width of the sidebar */
  float:left;
  padding: 20px; /* Some padding */
  margin-top: 10px;
  }

.iframe{
  width: 425px;
  height: 350px; 
  border: 0;
}

.card-address {
  font-family: 'Raleway', sans-serif;
  padding: 20px;
  margin:  0;
}

.contact-form {
  float: right;
  width: 50%;
  padding:20px;
  margin-right: 30px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color:  #000000;
}


/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/*=  CONTACT US - CONTENT | SMALL/MOBILE
--------------------------------------------------------*/

@media screen and (max-width: 1023px) {

  .content {
    display: block;
    background-color: #fff;
    }

  .map{ 
    width: 80%; /* Set the width of the sidebar */
    float: none;
    margin: auto;
    display:block;
    padding: 20px; /* Some padding */
    margin-top: 10px;
  }

  .iframe{
    width: 100%;
    height: 250px; 
    border: 0;
    margin: auto;
    float: none;
    margin: auto;
    display:block;
  }

  .contact-form {
    width: 80%;
    float: none;
    margin: auto;
    display:block;
    padding:20px;
    margin-right: 30px;
  }
}

