
/*=  PRODUCTS - CONTENT| LARGE/DESKTOP
--------------------------------------------------------*/
/* Tab Style 
--------------------------------------------------------*/
.submenu{
    width: 20%;
	height: 100vh;
	display:inline-block;
	background-color: #FFF;
	border-right: 5px dotted #230D0C;
	margin: 50px 0px;
}

.submenu button {
    padding: 15px;
    width: 80%;
    display:block;
    margin: auto;
    color:#230D0C;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: left;
    border: none;   
    cursor: pointer;
    transition: 0.3s;
}

/* Tab buttons on hover */
.submenu button:hover {
    color:#1D2128;
    font-weight: 500;
    font-size: 1.3rem;
    background-color: #FFF;
}

/* Tab buttons on active class */
.submenu button.active {
    color:#AD2D2D;
    font-weight: 800;
    font-size: 1.3rem;
    background-color: #FFF;
    border-bottom: 2px dotted #AD2D2D;
}

/* items style */
.tabcontent{
    width: 75%;
    height: 100%;
    display: inline-block;
    margin: 50px 0px;
}

/* category box style */
.category-card{
    width: 28%;
    height: 100%;
    text-align: center;
    margin: 20px 20px;
    background-color: #F1EFEF;
    box-shadow: 1px 1px 1.5px #675151;
    border: 1px solid #C7BFBF;
}

/* text style for price item */
.price-text{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: 0px 0px 10px;
}



/*=  PRODUCTS - CONTENT | MEDIUM/TABLETS
--------------------------------------------------------

@media (min-width: 768px) and (max-width: 991px) {




 }
--------------------------------------------------------*/

/*=  PRODUCTS - CONTENT | SMALL/MOBILE
--------------------------------------------------------*/

@media screen and (max-width: 1023px) {
    /* Tab Style for small size devices
    --------------------------------------------------------*/
    .submenu{
        height: 100%;
        width: 100%;
        display:block;
        background-color: #FFF;
        margin:0px;
        border: none;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .submenu button {
        padding: 15px;
        width: 25%;
        display:inline-block;
        margin: auto;
        color:#230D0C;
        font-weight: 700;
        font-size: 2rem;
        text-align: left;
        border: none;   
        cursor: pointer;
        transition: 0.3s; 
    }

    /* Tab buttons on hover */
    .submenu button:hover {
        color:#1D2128;
        font-weight: 500;
        font-size: 2.1rem;
        background-color: #FFF;
    }

    /* Tab buttons on active class */
    .submenu button.active {
        color:#AD2D2D;
        font-weight: 800;
        font-size: 2rem;
        background-color: #FFF;
        border-bottom: 3px dotted #AD2D2D;
    }

    /* items style */
    .tabcontent{
        width: 90%;
        height: 100%;
        display: inline-block;
        justify-content: center;
        margin: auto;
    }

    /* category box style */
    .category-card{
        width: 70%;
        height: 100%;
        text-align: center;
        margin: 20px 20px;
        background-color: #F1EFEF;
        box-shadow: 1px 1px 1.5px #675151;
        border: 1px solid #C7BFBF;
    }

    /* text style for price item */
    .price-text{
        font-size: 2.3rem;
        font-weight: 600;
        text-align: center;
        margin: 0px 0px 10px;
    }

}